
@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-SemiBold.woff') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Bold.woff') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Bio Sans';
  src: url('../fonts/BioSans-SemiBold.woff') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Bio Sans';
  src: url('../fonts/BioSans-Regular.woff') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #516171;
    line-height: 1.7;
	font-size: 16px;
}

h1,h2,h3,h4,h5,h6,
.display-1,.display-2,.display-3,.display-4 {
    font-weight: 700;
    color: #092032;
	
}

p{  font-family: "Bio Sans", sans-serif; }

.bg-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

img {
    width: 100%;
}

a {
    color: #092032;
    transition: all 0.4s ease;
    font-weight: 500;
}

a:hover {
    color: #ff4d29;
}

section {
    padding-top: 80px;
    padding-bottom: 80px;
}
.font-700{   font-weight: 700;}
.font-600{   font-weight: 600;}
.font-500{   font-weight: 500;}
.font-400{   font-weight: 400;}


.text-brand {
    color: #ff4d29 !important;
}


.hero-slider .owl-prev,
.hero-slider .owl-next{
    background-color: rgba(255, 255, 255, 0.3) !important;
    width: 60px !important;
    height: 60px !important;
    display: block;
    display: grid;
    place-items: center;
    color: #fff !important;
    border-radius: 100px;
    line-height: 0;
    border-radius: 100px !important;
    position: absolute;
    top: 50%;
    font-weight: 600 !important;
    font-size: 12px !important;
    transition: all 0.4s ease;
    margin-top: -30px !important;
}

.owl-prev {
    left: 0;
}
.owl-next {
    right: 0;
}

.hero-slider .owl-prev:hover,
.hero-slider .owl-next:hover {
    background-color: #ff4d29 !important; 
}

.owl-dot.active span{
    background-color: #F0B800 !important;
}

.hero-slider.owl-theme .owl-nav {
    margin-top: 10px;
    display: none;
}



.footer-logo{    width: 130px;
    margin-bottom: 20px;}

 /* slide */
 .slide {
min-height: 866px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    padding-top: 130px;
}

.slide1 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/banner-1.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide2 {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../img/banner-2.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide .display-3 {
    text-transform: uppercase;
    color: #fff;
}

.hero-slider .owl-dots {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    bottom: 0;
    margin: auto 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display-3 {
    font-size: 80px;
	    line-height: 100px;
} 
.slide .btn{
	width: 209px;
    height: 60px;
    font-weight: 700;
    font-size: 12px;
    line-height: 46px;
    letter-spacing: 0.2em;
    color: #070708;
	border-radius: 10px;
	    padding-right: 0;
	
}

.icon-slider{    width: 48px;
    height: 48px;
    line-height: 48px;
    background: #000000;
    border-radius: 10px;
    color: #fff;
	margin-left: 17px;
	font-size: 14px;

	}
	
	.department-col-3 .icon-slider{
			display: flex;
    justify-content: center;
	}

/* navbar */
.top-nav {
  background-color: #fbfbfb;
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
	height: 40px;    line-height: 30px;
	
}

.top-nav p {
    display: inline-block;
    margin-bottom: 0;
    
	 font-family: 'Montserrat', sans-serif;
	  
}

.top-nav span,
.top-nav i {
    vertical-align: middle;
}

.top-nav-gap{    padding-right: 6px;
    padding-left: 6px;}

.navbar {
    height: 95px;
}

.social-icons a {
    width: 28px;
    height: 28px;
    display: inline-flex;
    color: #000;
   
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
}

.social-icons a:hover {
background-color: #fff;
    color: #fcd64d;
}

.social-icon{     text-align: right!important;}
.conditions-section{
    margin: 20px 0;
}
.conditions-section a{
   color: #fff;
   margin: 0 10px;
}

.navbar .navbar-nav .nav-link {
   color: #000000;
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
}

.navbar .navbar-nav .nav-link:hover {
    color: #ff4d29;
}

.navbar .navbar-nav .nav-link.active {
position: relative;
}

.navbar .navbar-nav .nav-link.active::after {
    color: #000000;
    background-color: #EFB700;
    border-radius: 3px 3px 0px 0px;
    padding-bottom: 5px;
    position: absolute;
    content: '';
    width: 100%;
    height: 5px!important;
    bottom: -25px;
    left: 0;
    border: 0;
    margin: 0 auto;
}

.nav-link:after{    border-bottom: 5px solid #EFB700;
    border-radius: 3px 3px 0px 0px;
    padding-bottom: 10px;}

.navbar-brand {
    font-size: 28px;
    font-weight: 700;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 2rem;
    padding-left: 2rem;
}

.navbar-brand .dot {
    color: #ff4d29;
}

nav .btn {
    padding: 8px 26px;
    width: 142px;
    height: 45px;
	font-size: 18px;
    line-height: 30px;
	    font-weight: 500;

}

.btn-brand {
    border-color: #FCD64D;
color: #000;
    font-size: 12px;
    font-weight: 700;
    background: #FCD64D;
    border-radius: 10px;
   
}

.btn-brand:hover {
	background-color: #d64022;
    border-color: #d64022;
    color: #fff;
}

.btn-area{     display: flex;
    align-items: center;
    justify-content: space-between;
	    position: relative;
    z-index: 9;
	}
.btn-develop {
    border-color: #FCD64D;
    color: #000;
    background: #FCD64D;
    border-radius: 10px;
    width: 48%;
    height: 110px;
    font-weight: 600;
    font-size: 18px;
   text-align: left;    padding: 20px;
}
   


.btn-develop:hover {
    background-color: #d64022;
    border-color: #d64022;
    color: #fff;
}

.btn-develop img{    width: 40px;
    height: 34px;}
	
.btn-develop-row{ display: flex;
    align-items: center;
    justify-content: space-between; padding-top: 8px;}
.btn-develop-col-1{width: 33%;}
.btn-develop-col-2{padding-left: 10px;
    font-size: 16px;}

/*-----------Department----------*/


.business{position: relative !important;}
.business p{max-width: 541px;     margin-bottom: 20px;}
.element-1{ position: relative;}
.backgroun-element-1{
display: inline-block;
    position: absolute;
    z-index: 1;
    width: 33vw;
    top: 0;
    right: 0;
}
.backgroun-element-1 img{    width: 100%;}

.element-2{ position: relative;}
.backgroun-element-2{
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 28vw;
bottom: -14vw;
    left: 0;

}

.backgroun-element-2 img{    width: 100%;}
.business .bg-business{  background-color: #FCD64D; width: 80%;     position: relative;}

.bg-business:after {
content: "";
    width: 92px;
    height: 109.69px;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
        right: auto;
    position: absolute;
    bottom: 0;
    background-image: linear-gradient(51deg,#fcd64d 50%, #fff 50%);
}
.bg-business img	{    padding: 50px;}

.backgroun-element-3 {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 20vw;
    bottom: -3vw;
    right: 6vw;
}


.business h1{margin-bottom: 30px; }



.business-text{max-width: 470px;    margin-bottom: 34px;}
.business h4{ margin-bottom: 34px;font-weight: 600;
font-size: 26px;
line-height: 30px;}



.work .intro h2{ 
font-weight: 700;
font-size: 50px;
line-height: 70px;
letter-spacing: -0.02em;
color: #070708;
    margin-bottom: 60px;

}

.card {
    border: none;
    border-radius: 0;
	background-color: transparent;
}

.department{ position: relative;
    top: -40px;
    z-index: 1;}

 .nav-tabs .nav-link.active {
    color: #ffffff;
        border-color: transparent;
	    position: relative;
}

.nav {
    margin-bottom: 30px;
}

.department .btn-blue{background: #1B5399!important;color: #ffffff;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
border-radius: 10px;
width: 444px;
height: 58px;
margin-right: 30px;
font-weight: 700;
font-size: 14px;
line-height: 29px;
letter-spacing: 0.2em;
text-transform: uppercase;

}

.department .btn-perpul{
background: #6E264A!important;color: #ffffff;
box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
border-radius: 10px;
width: 444px;
height: 58px;
margin-right: 20px;
margin-right: 30px;
font-weight: 700;
font-size: 14px;
line-height: 29px;
letter-spacing: 0.2em;
text-transform: uppercase;
}
.nav-tabs {
    border-bottom: none;
}

.department .nav-link.active:after {
    content: "";
    height: 6px;
    background: #FCD64D;
    border-radius: 0px 0px 10px 10px;
    position: absolute;
    z-index: 9;
    width: 98%;
    left: 1%;
    bottom: -1px;
    border-bottom: none;
    padding-bottom: 0;
}

.department-box {
	    position: relative;
    overflow: hidden;
    z-index: 2;
width: 100%;
height: 118px;
background: #FFFFFF;
box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
border-radius: 10px;
padding: 10px;
border: 1px solid #ededed;
}

.department-box:hover {background: #FCD64D;}



.department-box .icon-slider {
    width: 34px;
    height: 34px;
    line-height: 34px;
    background: #000000;
    border-radius: 10px;
    color: #fff;
    margin-left: 17px;
    font-size: 14px;
}

.project {
    position: relative;
 
    z-index: 2;
	    width: 100%;
    height: 285px;
	border: 1px solid #1E1F22;
background: #1E1F22;
border-radius: 10px;
}


.project h6::before {
    content: "";
    height: 2px;
    width: 30px;
    display: inline-block;
    background: #ff4d29;
    vertical-align: middle;
    margin-right: 10px;
}
.project h6 {
    font-weight: 400;
}



.project .content {
    position: absolute;
    left: 5%;
    bottom: -20px;
    width: 90%;
    z-index: 999;
}

.work .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 50px;
}

.work .owl-theme .owl-nav span {
    width: 34px;
    height: 34px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 0;
}

.work.owl-dot.active span {
   background-color: #fcd64d!important;
}
.project h2,
.project h6 {
    color: #fff;
}

.btn-more {
    border-color: #FCD64D;
	color: #000;
    font-size: 16px;
    font-weight: 700;
    background: #FCD64D;
    border-radius: 10px;
	width: 100%;
	    display: flex;
    align-items: center;
    justify-content: space-between;
	line-height: 14px;
   
}
.btn-more p {
	margin-bottom: 0;
    text-align: left;
	
	
}

.btn-top-text{display: block;
    text-align: left;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #35373D;}

.btn-more:hover {
    background-color: #d64022;
    border-color: #d64022;
    color: #fff;
}

.btn-top-text:hover{color: #fff;}

.department-row{display: flex;
    align-items: center;
    justify-content: space-between;     height: 100px;}
.department-col-1{width: 22%; padding-right:20px; }
.department-col-2{
width: 54%;
    padding-right: 10px;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: -0.02em;
    color: #070708;
}
.department-col-3{}
.department-col img{width: 46px; height:46px;}

.backgroun-element-4 {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 20vw;
    top: 0;
    left:0;
}

.backgroun-element-5 {
display: inline-block;
    position: absolute;
    z-index: 1;
    width: 27vw;
    top: -9vw;
    right: 0;
}


 /* contact  */
 .contact {
min-height: 554px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
   
}


.contactbg {
    background:url(../img/contact-bg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;border-radius: 10px;
}

.contact .display-3 {
    text-transform: uppercase;
    color: #fff;
}

.contact-text{ padding: 85px;}

.display-3 {
    font-size: 50px;
	    line-height: 70px;
} 
.contact .btn{
	width: 169px;    margin: 0 auto;
    height: 60px;
    font-weight: 700;
    font-size: 12px;
    line-height: 46px;
    letter-spacing: 0.2em;
    color: #070708;
	border-radius: 10px;
	    padding-right: 0;
		margin-top:32px;
		    display: flex;
    align-items: center;
    justify-content: space-around;
	
}

.contact .icon-slider{
	margin-left: 42px;
	}
	
	
	.icon-wid{    width: 18px;}

 .form {
	 width: 449px;
min-height: 508px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
	    margin-left: 80px;
		    margin-top: 20px;
   
}

a.more{color: #fcd64d;     text-decoration: underline;}
a.more:hover {
    color: #333;
}
.formbg {
background: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.28) 100%);
backdrop-filter: blur(33px);
border-radius: 10px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;border-radius: 10px;
}

.our-work{background: #f3f3f3;
padding-top: 40px;
    padding-bottom: 60px;
}
.our-work h2 {
    font-weight: 700;
    font-size: 50px;
    line-height: 70px;
    letter-spacing: -0.02em;
    color: #070708;
    margin-bottom: 40px;
}

.logo-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
	
  
}
.logo-row-col {
    margin-bottom: 20px !important;
}
.logo-row-col {
    width: 23%;
    display: flex;
    background-color: #fff;
    border-radius: 10px;
    justify-content: center;
    margin-bottom: 10px !important;
    height: 125px;
}

.owl-carousel .owl-stage-outer {
    overflow-x: clip !important;
	 overflow-y: initial;

}

footer {
background: #FCD64D;
 color: #ffffff;
}

footer .footer-top {
    padding-top: 80px;
    padding-bottom: 40px;
}

.footer-bottom {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: #000;
    color: #fff !important;
}



footer .navbar-brand {
    color: #fff;
}

footer p {
   color: #000000;
    font-size: 16px;
    line-height: 30px;

}

.footer-bottom p{   color: #fff; font-size: 12px;}

footer .social-icons a {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin-left: 4px;
    margin-right: 4px;
}

.loader {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: red;
    z-index: 99999;
    position: fixed;
    left: 0;
    right: 0;
}




.form-control {
    background-color: rgba(0, 0, 0, 0.04);
    border-color: rgba(0, 0, 0, 0.04);;
}

.form-control:focus {
    box-shadow: none;
    border-color: #4d3153;
    background-color: #5c3e55;
}

.logo-row-col img{width: 152px;}
.work .owl-dot{
	position:relative;
}
.work .owl-theme .owl-nav button::after {
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0;
    background: transparent;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-top: 3px solid #fff;
    border-left: 3px solid #fff;
    transform: rotate(135deg);
}
.work .owl-theme .owl-nav button {
    position: relative;
}
.work .owl-theme .owl-nav button:first-child::after{
	transform: rotate(315deg);
}
.contact-text::placeholder {
    color: #fff !important;
    font-size: 16px !important;
}

.form.formbg .form-group input:last-child{
	height: 7rem;
}
.form.formbg .form-group input{
    height: 40px;
    width: 350px;
    margin-bottom: 11px;
   border: 1px solid rgba(206, 212, 222, 0.2)!important;
	border-radius : 5px;
	color: #fff;
}

.form.formbg .form-group textarea {
color: #fff;
    margin-bottom: 11px;
    border: 1px solid rgba(206, 212, 222, 0.2)!important;
    border-radius: 5px;
}


.form.formbg {
    padding: 60px 0 0;
 
}

.footer_title{
font-family: "Bio Sans", sans-serif;
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 40px;

color: #000000;
	
} 

.footer_links {
    padding-left: 30px;
}
.footer_links ul {
    padding-left: 0px;
    list-style: none;
}

.footer_links_container ul li  {
	font-family: "Bio Sans", sans-serif;
    font-size: 14px;
    color: #000000;
	text-decoration: none;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
	margin-bottom: 15px;
}

.footer_links_container ul li a {
	font-family: "Bio Sans", sans-serif;
    font-size: 14px;
    color: #000000;
	text-decoration: none;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.footer_links_container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer_links_container ul li a:hover {
color: #ffffff;
    text-decoration: underline;
}



.form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
}
.form ::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
}
.form :-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
.form :-moz-placeholder { /* Firefox 18- */
  color: #fff;
}

.subscribe-form{margin-top: 20px;}
.subscribe-form .input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    padding: 3px;
    border: 1px solid #000;
    border-radius: 5px;
}
.subscribe-form .form-control {
    background-color: transparent;
   
}

.subscribe-form .btn-primary {
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}
.subscribe-form input.form-control {
    border-color: transparent;
    height: auto;
}

.subscribe-form p{font-weight: 400;
font-size: 13px;
line-height: 40px;
color: #000000;     margin-top: 10px;}

.subscribe-form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #000;
}
.subscribe-form ::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
.subscribe-form :-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
.subscribe-form :-moz-placeholder { /* Firefox 18- */
  color: #000;
}

textarea::placeholder {

  color: #fff;
  font-size:14px;
}

.icon-fill path{
  fill: #298cc9;
}

.department-box:hover .department-col-3, .department-box:hover .department-col-1{
  display :none;
}
.department-box:hover .department-col-2{
	width:100%;padding-left:20px;
}

a{text-decoration: none;}


.department .owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 10px;
    display: none;
}

@media only screen and (max-width: 1660px){
.backgroun-element-2 {
    width: 32vw;
    bottom: -19vw;
    left: 0;
}
.backgroun-element-3 {
    bottom: -2vw;
    right: 2vw;
}
}

@media only screen and (max-width: 1366px){
.business h4 {
    margin-bottom: 14px;
    font-size: 26px;
}
.business-text {
    max-width: 470px;
    margin-bottom: 14px;
}
.project {

    height: 237px;

}

}

@media only screen and (max-width: 1199px){
.slide {
    min-height: auto;
	padding-top: 80px;
    padding-bottom: 80px;
}
.navbar-brand img{width: 110px; }
nav .btn {
    width: 122px;
    font-size: 16px;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}
.navbar .navbar-nav .nav-link {
    font-size: 16px;
}
.top-nav-gap {
    font-size: 14px;
}
.top-nav p {
    font-size: 14px;
}
.department .btn-perpul {
    width: 44%;font-size: 12px;
}
.department .btn-blue {
    width: 44%;font-size: 12px;
}


.business h1{ font-size: 30px;}
.business-text {font-size: 30px;margin-bottom: 6px;}
.business h4 { font-size: 18px; margin-bottom: 6px;}
.btn-develop {    height: 65px;    padding: 5px;}
.btn-develop-col-2 {
    padding-left: 10px;
    font-size: 12px;
}
body {
    font-size: 14px;
}
.work .intro h2 {
    font-size: 40px;
    margin-bottom: 30px;
}
.backgroun-element-2 {
    width: 30vw;
    bottom: -14vw;
    left: 0;
}
section.work {
    padding-top: 10px;
}
.icon-slider {
    width: 28px;
    height: 28px;
    line-height: 28px;
}
.btn-top-text {
    font-size: 8px;
}

.btn-more {
    border-color: #FCD64D;
    color: #000;
    font-size: 12px;
}

.form{width: 90%;
    min-height: auto;
    margin-left: 0;
}

.form.formbg {
    margin-top: 50px;
}
.contact .btn {
    margin-bottom: 10px;
    width: 169px;
    height: 50px;
    font-size: 12px;
    line-height: 38px;
    margin-top: 10px;
}
.project {
    height: 187px;
}
.contact .display-3 {
    font-size: 40px;
    line-height: 70px;
}
.our-work h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
section {
    padding-top: 50px;
    padding-bottom: 80px;
}
}
	


@media only screen and (max-width: 991px){
	.navbar {
    height: auto;
}
.navbar .navbar-nav .nav-link.active::after {display:none; }

.department .btn-blue {
    width: 44%;
    font-size: 12px;
    height: 80px;
}
.department .btn-perpul {
    width: 44%;
    font-size: 12px;
    height: 80px;
}
.slide .btn {
    width: 209px;
    height: 50px;
   font-size: 12px;
    line-height: 38px;
}
.business p {
    max-width: 100%;
}
.business-text {
    max-width: 100%;
    margin-bottom: 14px;
}
section {
    padding-top: 50px;
    padding-bottom: 50px;
}
.logo-row-col img {
    width: 120px;
}

.backgroun-element-3 {
    bottom: 32vw;
    right: 2vw;
}
.backgroun-element-1 {
    top: 50vw;
}

.business-text {
    max-width: 100%;
    margin-bottom: 14px;
    padding-top: 50px;
}
.business .bg-business {
    background-color: #FCD64D;
    width: 90%;
	    margin-bottom: 20px;
}
.backgroun-element-1 {
    top: 49vw;
	 width: 20vw;
}
.btn-develop-col-1 {
    width: 43%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.btn-develop-col-2 {
    padding-left: 10px;
    font-size: 14px;
}
.contact-text {
    padding: 40px;
}
.form.formbg.text-end {
    padding: 30px 0 30px;
    text-align: center !important;
    margin-bottom: 50px;
}
.project .content {
    position: absolute;
    left: 5%;
    bottom: -93spx;
    width: 94%!important;
    z-index: 999;
}
.img-hight{     height:182px;}

.social-icon{     text-align: center!important;}
.contact .btn {
    margin-bottom: 20px;
    margin-top: 20px;
}
	.form.formbg {
    margin-top: 0;
    margin-bottom: 50px;
}
.form {
    width: 90%;
    min-height: auto;
    margin-left: 5%;
}
}

@media only screen and (max-width: 767px){
	
	.top-nav {
    height: auto;
    text-align: center;
}

.top-nav {
    background-color: #fbfbfb;
    color: #000;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
    text-align: center;
}
.backgroun-element-1 {
top: 43vw;
    width: 14vw;
}

section {
    padding-top: 30px;
    padding-bottom: 30px;
}

.backgroun-element-3 {
    bottom: 55vw;
    right: 8vw;
}
.btn-develop-col-2 {
    padding-left: 10px;
    font-size: 13px;
}
.logo-row-col img {
    width: 30%;
}
.logo-row {
    display: block;
}
.logo-row-col {
    width: 100%;
	}
	
	.department .btn-perpul {
    width: 44%;
    font-size: 10px;
    height: 80px;
    line-height: 18px;
}

.department .btn-blue {
    width: 44%;
    font-size: 10px;
    height: 80px;
	line-height: 18px;
}


	}
	
@media only screen and (max-width: 576px){
	.department-col-1 {
    width: 16%;
    padding-right: 20px;
}

.department-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.backgroun-element-1 {
    top: 43vw;
    width: 14vw;display:none;
}
.backgroun-element-3 {
    bottom: 74vw;
    right: -3vw;
}
.backgroun-element-2 {
    width: 30vw;
    bottom: -32vw;
    left: 0;
}
.btn-develop-col-2 {
    padding-left: 10px;
    font-size: 11px;
}
.bg-business:after {display:none;	}
.business .bg-business {
    background-color: #FCD64D;
    width: 100%;
}
.backgroun-element-3 {
    top: 0;
    right: 0;
}
.form.formbg.text-end .form-group input {
    width: 100%;

}
.department .btn-blue{margin-right: 15px;}
.department .btn-perpul {margin-right: 15px;}
.btn-develop-row {
    height: 52px;
}

.social-icons a {
    width: 18px;
}
.top-nav p {
    font-size: 12px;
}
.top-nav-gap {
    font-size: 12px;
}

.contact .btn {

    width: 120px;
    height: 40px;
    font-size: 12px;
    line-height: 38px;
    margin-top: 10px;
	display: flex;
    align-items: center;
    justify-content: center;
}
.contact .icon-slider {
    margin-left: 20px;
}


}
	
	@media only screen and (max-width: 440px){
.mobile-hidden{display:none;}
.social-icons a {
    width: 14px;
}
.form.formbg .form-group input {
    height: 40px;
    width: 100%;
}

.department .btn-perpul {
    width: 44%;
    font-size: 10px;
    height: 80px;
    line-height: 18px;
}

.department .btn-blue {
    width: 44%;
    font-size: 10px;
    height: 80px;
	line-height: 18px;
}

.display-3 {
    font-size: 30px;
    line-height: 38px;
}

.business h1 {
    font-size: 24px;
}
.contact .display-3 {
    font-size: 30px;
    line-height: 70px;
}

.contact .display-3 {
    font-size: 30px;
    line-height: 70px;
}


	}

/*----------------------------------------*/

.inner-banner {
    display: block;
    width: 100%;
    position: relative;
    color: white;
    text-align: center;
}

.inner-banner img {
    width: 100%;
    z-index: 99;
    height: 400px;
    object-fit: cover;
}

.inner-banner .overlay {
    width: 100%;
    height: 100%;

 background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.81) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999
}

.inner-banner-text {
 display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
}

.inner-banner h2 {
font-size: 50px;
    line-height: 70px;
    font-weight: 700;
    color: #fff;
}

.backgroun-element-6 {
    display: inline-block;
    position: absolute;
    z-index: 0;
    width: 20vw;
    top: 0;
    left: 0;
}

.backgroun-element-7 {
	    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 26vw;
    left: 0;
    bottom: 5vw;
}

.backgroun-element-8 {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 20vw;
    bottom: 0vw;
    right: 6vw;
	
}




.service{position: relative !important; }
.service h2{ font-weight: 700;
font-size: 24px;
line-height: 30px;
color: #070708;
margin-bottom: 30px;
}

.service h2:after{ 
content: ' ';
    display: block;
    left: 0;
    top: 0;
	height:4px;
    width:40px;
    margin-top: 10px;
background-color: #FCD64D;

}


.service p{font-weight: 400;
font-size: 16px;
line-height: 28px;
color: #79808C; 

}
.service img{ 
border-radius: 10px; margin-bottom: 28px;}
.service .box{background: #FFFFFF;
box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
border-radius: 10px; padding: 20px;
    position: relative;
    z-index: 9;
 }


.service .box:after {
    content: "";
    height: 6px;
    background: #FCD64D;
    border-radius: 0px 0px 10px 10px;
	box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 9;
    width: 98%;
    left: 1%;
    bottom: -1px;
    border-bottom: none;
    padding-bottom: 0;
}

.same-hei-row{ display: table;}
.same-hei-col{    display: table-cell;}

.section-bottom-gap{ margin-bottom:60px; }

@media only screen and (max-width: 991px){
	.service .business-text{     padding-top: 0px;}
	.service .box {
    padding: 10px;

}
.service h2 {
    font-weight: 700;
font-size: 20px;
    line-height: 28px;
    color: #070708;
    margin-bottom: 10px;
}
.service img {
    margin-bottom: 18px;
}
.service p {
    font-size: 14px;
    line-height: 28px;
    min-height: 400px;
}
}

@media only screen and (max-width: 767px){
	
	.service p {
    font-size: 14px;
    line-height: 28px;
    min-height: auto;
}
.service .box {
    padding: 10px;
    margin-bottom: 30px;
}
.backgroun-element-7 {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 36vw;
    left: 0;
    bottom: 7vw;
}

.same-hei-col {
    display: block;
}
}

@media only screen and (max-width: 576px){
	

.backgroun-element-7 {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 36vw;
    left: 0;
    bottom: 7vw;
}
.backgroun-element-8 {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 26vw;
    bottom: 2vw;
    right: 0vw;
}

.backgroun-element-6 {
    display: inline-block;
    position: absolute;
    z-index: 0;
    width: 20vw;
    top: 0;
    left: 0;
}

.inner-banner img {
    width: 100%;
    z-index: 99;
    height: 300px;
    object-fit: cover;
}
.inner-banner h2 {
    font-size: 40px;
    line-height: 56px;
    font-weight: 700;
    color: #fff;
}
}



/*----------------software-department------------------*/
.software-department{     position: relative !important;     background-color: #F4F6FA;}
.software-department h2{font-weight: 700;
font-size: 50px;
line-height: 70px;
letter-spacing: -0.02em;
color: #070708;}
.service-box{
	background: #FFFFFF;
border-radius: 20px; 
padding: 20px;     
position: relative;
z-index: 9;
    margin-top: 30px;
   }
   
.service-box:hover{    background: #FCD64D;}

.service-row{display: flex;
        justify-content: space-between;
    justify-content: space-between;}
.service-col-1{width: 36%; }
.service-col-2{width: 60%; }
.service-col-1 img{border-radius: 20px; }
.service-col-2 h3{font-weight: 700;
font-size: 24px;
line-height: 30px;
color: #070708;
min-height: 60px;
}

.service-col-2 p{font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #444444;
    margin-bottom: 0;

}

.icon-service {
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: #000000;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
	text-align: center;
}

.service-btn-area{ 
text-align: right!important;
}
		
		
		.backgroun-element-9 {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 20vw;
    top: 17vw;
    left: 5vw;
	
}

.backgroun-element-10 {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 20vw;
    right: 0;
    bottom: 0;
	
}

.backgroun-element-11 {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 20vw;
    left: 0;
    bottom: 5vw;
}
	
.entertainment-department{     position: relative !important;     background-color: #ffffff;}	
.entertainment-department .service-box {
    padding: 20px;
    position: relative;
    z-index: 9;
    margin-top: 30px;
    background: #F4F6FA;
    border-radius: 20px;
}


.entertainment-department .service-box:hover{    background: #FCD64D;}


@media only screen and (max-width: 1660px){
	.backgroun-element-9 {
    top: 20vw;
    left: 2vw;
}
.backgroun-element-11 {
    bottom: 8vw;
}
	
}

@media only screen and (max-width: 1440px){
	.backgroun-element-9 {

    left: 1vw;
}
.backgroun-element-10 {
       width: 26vw;
}

.backgroun-element-8 {
    right: 1vw;
}
	
}


@media only screen and (max-width: 1399px){
	.backgroun-element-9 {
top: 26vw;
    left: 1vw;
}
.backgroun-element-10 {
       width: 26vw;
}

.backgroun-element-11 {
       width: 24vw;
}

.backgroun-element-8 {
    right: 1vw;
	    bottom: 4vw;
}
.service-col-2 h3 {
    font-weight: 700;
    font-size: 20px;
	line-height: 26px;
    color: #070708;
    min-height: 50px;
	
}

.software-department h2 {
    font-size: 40px;
}
.service-col-2 p {
    font-weight: 400;
    font-size: 14px;
}
.icon-service {
    width: 24px;
    height: 24px;
    line-height: 24px;
    background: #000000;
    border-radius: 10px;
    color: #fff;
    font-size: 11px;
    text-align: center;
}
}

@media only screen and (max-width: 1199px){
	.service-col-2 p {
    font-size: 12px;
    line-height: 20px;
}
.service-col-2 h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #070708;
    min-height: 44px;
}
	
}

@media only screen and (max-width: 991px){
.software-department h2 {
    font-size: 30px;
    line-height: 30px;
}

.service-row {
    display: block;
}

.service-col-1 {
    width: 100%;
}
.service-col-2 {
    width: 100%;
}	
.service-col-1 img {
    border-radius: 20px;
    margin-bottom: 20px;
}
.backgroun-element-11 {
    bottom: 5vw;
}
.backgroun-element-8 {
    right: 1vw;
    bottom: 35vw;
}
.backgroun-element-10 {
   display:none;
}

}

@media only screen and (max-width:767px){
	.software-department h2 {
    font-size: 26px;
    line-height: 30px;
}
.service-col-2 h3 {
    font-weight: 700;
    font-size: 15px;
    line-height: 22px;
    color: #070708;
    min-height: 44px;
}
.backgroun-element-8 {
    right: 8vw;
    bottom: 57vw;
}

}

@media only screen and (max-width:767px){
.service-col-2 h3 {
    min-height: auto;
}
.backgroun-element-8 {
   display:none;
}
}


/*-----------------project-area-----------------*/

.project-area{}
.project-area img{border: 10px solid #fff; }
.project-img{    margin-top: -130px;
    z-index: 9;
 }
	
.project-area-2, .project-area-3, .work{position: relative !important; }

.project-area-2 h1{
font-weight: 700;
font-size: 50px;
line-height: 70px;
letter-spacing: -0.02em;
color: #1E1F22;margin-bottom: 28px;
	}

.backgroun-element-12 {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 20vw;
    right: 0;
    top: 0;
	
}


.backgroun-element-13 {
	    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 20vw;
    left: 0;
    top: -3vw;
}



.project-img2::after {
    left: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid #fcd64d;
    position: absolute;
    top: 10px;
    z-index: -1;
    content: '';
}

.project-img2{ position:relative;  z-index: 99; }

.backgroun-element-14 {
    right: 9vw;
    top: 5vw;
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 17vw;
}

.project-area-3 h1{
font-weight: 700;
font-size: 50px;
line-height: 70px;
/* or 140% */

letter-spacing: -0.02em;

/* Grey1 */

color: #1E1F22;	
	
} 

.owl-nav{    text-align: center;
    margin-top: 40px; }
	
	.owl-theme .owl-nav {
    margin-top: 40px;
}

.work .owl-theme .owl-nav [class*=owl-]:hover {
    background: #ffc800;
    color: #FFF;
    text-decoration: none;
}


@media only screen and (max-width:1750px){
	
	.backgroun-element-14 {
    right: 6vw;
    top: 7vw;
	}
	
}

@media only screen and (max-width:1600px){
	
	.backgroun-element-14 {
    right: 1vw;
    top: 9vw;
	}
	
}

@media only screen and (max-width:1199px){
	
	.backgroun-element-14 {
    right: 1vw;
    top: 6vw;
	}
	.project-area-2 h1 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.02em;
    color: #1E1F22;
    margin-bottom: 18px;
}
.project-area-3 h1{
font-weight: 700;
font-size: 40px;
line-height: 50px;
letter-spacing: -0.02em;
color: #1E1F22;	
	
} 
}

@media only screen and (max-width:991px){
.backgroun-element-14 {
    right: 6vw;
    top: 8vw;
}	
	
}

@media only screen and (max-width:767px){
	.project-area-2 h1 {

    font-size: 26px;
    line-height: 36px;
	margin-top: 20px

}
.project-area-3 h1{
   font-size: 26px;
    line-height: 36px;
	margin-top: 20px
	
} 	
.work .intro h2 {
    font-size: 26px;
    margin-bottom: 20px;
}
	
}


@media only screen and (max-width:576px){
.project-area-2 h1 {
    font-size: 26px;
    line-height: 36px;
    margin-bottom: 8px;
}	.backgroun-element-12, .backgroun-element-13, .backgroun-element-14 {
display:none;
}
.project-area-3 h1 {
    font-size: 26px;
    line-height: 36px;
	    margin-top: 15px;
}

.work .intro h2 {
    font-size: 26px;
    margin-bottom: 30px;
}
	
}

/*--------------------------*/

.training-curriculum-icon-2 {
width:60px;
    height: 60px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #EFF9FF;
    border-radius: 50%;
       position: relative;
   
    left: 50%;
    transform: translateX(-50%);
    transition: 0.6s all linear;
    color: #298CC9;
    font-size: 30px;
    font-weight: 700;
}

.contact-area img{ width: 30px;}
.contact-area .box{background: #FFFFFF;
box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.06);
border-radius: 8px;
padding: 30px;
}

.contact-area p{ 
font-weight: 400;
font-size: 14px;
line-height: 21px;
text-align: center;
color: #898B8C;
}

.contact-area h2{ font-weight: 500;
font-size: 18px;
line-height: 27px;
text-align: center;
color: #0A2C3D;
    padding: 20px 0;
}

.backgroun-element-15 {
    display: inline-block;
    position: absolute;
    width: 20vw;
    top: -8vw;
    left: 2vw;
    z-index: -1;
}


@media only screen and (max-width:767px){
.contact-area .box {
    margin-bottom: 30px;
}
}



/*************about*************/

.meet-team{ position: relative !important; }
.meet-team h1{    margin-bottom: 60px;}


.backgroun-element-19 {
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 20vw;
    right: 0;
   top: 90px;
}

.team-box {
	    position: relative;
    overflow: hidden;
    z-index: 2;
width: 100%;
height: 138px;

padding: 20px;
background: #FFFFFF;
box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1), inset 4px 0px 0px #FCD64D;
border-radius: 10px;
}

.team-box:hover {background: #FCD64D;}
team-row{display: flex;
    align-items: center;
    justify-content: space-between;     height: 100px;}
.team-row{ display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;}	
.team-col-1{width: 26%; padding-right:10px; }
.team-col-2{
width: 72%;
    font-weight: 600;
    font-size: 23px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #000000;

}

.team-col-2 span{font-weight: 400;
font-size: 20px;
line-height: 30px;
letter-spacing: -0.02em;
color: #000000;    display: block;}

.team-col-1 img{width: 94px; height:84px;}


@media only screen and (max-width:1399px){
	.team-col-2 {
    font-size: 20px;

}
.team-col-2 span {
    font-size: 18px;
    line-height: 20px;
}
}
